.app {
  padding: 5% 15%;
  background: url(nightsky.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}