.app {
  padding: 5% 15%;
  background-color: rgb(129, 166, 215);
  background-size: cover;
  background-position: center;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}